artifacts/
HRExpert.Database/bin/
HRExpert.Database/obj/
*.lock.json
*.xproj.user
src/HRExpert/node_modules/
*.dbmdl
*.suo
*.suo
*.log
.IncrementalCache
dotnet-compile.rsp
dotnet-compile-csc.rsp
*dotnet-compile.deps.json
.IncrementalCache
dotnet-compile.rsp
dotnet-compile-csc.rsp
HRExpertdotnet-compile.deps.json
*/bin/Debug/netstandard1.5/*
*/bin/Debug/netstandard1.5/*.*
*/obj/Debug/netcoreapp1.0/.IncrementalCache
src/HRExpert/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
src/HRExpert/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/HRExpert/obj/Debug/netcoreapp1.0/HRExpertdotnet-compile.deps.json
*.dll
*.pdb
src/HRExpert/obj/Debug/netcoreapp1.0/*.*
src/HRExpert/bin/Debug/netcoreapp1.0/*.*
src/HRExpert/bin/Debug/netcoreapp1.0/*.*
src/HRExpert/bin/Release/netcoreapp1.0/*
*/obj/Release/netstandard1.5/*
*/bin/Release/netstandard1.5/*
src/HRExpert/bin/Debug/netcoreapp1.0/*.dll
src/Core/HRExpert.Core.Abstractions/bin/Release/netstandard1.5/HRExpert.Core.Abstractions.deps.json
src/Core/HRExpert.Core.Abstractions/obj/Release/netstandard1.5/.SDKVersion
src/Core/HRExpert.Core.Abstractions/obj/Release/netstandard1.5/dotnet-compile.assemblyinfo.cs
src/Core/HRExpert.Core.BL.Abstractions/bin/Release/netstandard1.5/HRExpert.Core.BL.Abstractions.deps.json
src/Core/HRExpert.Core.BL.Abstractions/obj/Release/netstandard1.5/.SDKVersion
src/Core/HRExpert.Core.BL.Abstractions/obj/Release/netstandard1.5/dotnet-compile.assemblyinfo.cs
src/Core/HRExpert.Core.BL/bin/Release/netstandard1.5/HRExpert.Core.BL.deps.json
src/Core/HRExpert.Core.BL/obj/Release/netstandard1.5/.SDKVersion
src/Core/HRExpert.Core.BL/obj/Release/netstandard1.5/dotnet-compile.assemblyinfo.cs
src/Core/HRExpert.Core.Data.Abstractions/bin/Release/netstandard1.5/HRExpert.Core.Data.Abstractions.deps.json
src/Core/HRExpert.Core.Data.Abstractions/obj/Release/netstandard1.5/.SDKVersion
src/Core/HRExpert.Core.Data.Abstractions/obj/Release/netstandard1.5/dotnet-compile.assemblyinfo.cs
src/Core/HRExpert.Core.Data.EntityFramework.SqlServer/bin/Release/netstandard1.5/HRExpert.Core.Data.EntityFramework.SqlServer.deps.json
src/Core/HRExpert.Core.Data.EntityFramework.SqlServer/obj/Release/netstandard1.5/.SDKVersion
src/Core/HRExpert.Core.Data.EntityFramework.SqlServer/obj/Release/netstandard1.5/dotnet-compile.assemblyinfo.cs
src/Core/HRExpert.Core.Data.Models.Abstractions/bin/Release/netstandard1.5/HRExpert.Core.Data.Models.Abstractions.deps.json
src/Core/HRExpert.Core.Data.Models.Abstractions/obj/Release/netstandard1.5/.SDKVersion
src/Core/HRExpert.Core.Data.Models.Abstractions/obj/Release/netstandard1.5/dotnet-compile.assemblyinfo.cs
src/Core/HRExpert.Core.Data.Models/bin/Release/netstandard1.5/HRExpert.Core.Data.Models.deps.json
src/Core/HRExpert.Core.Data.Models/obj/Release/netstandard1.5/.SDKVersion
src/Core/HRExpert.Core.Data.Models/obj/Release/netstandard1.5/dotnet-compile.assemblyinfo.cs
src/Core/HRExpert.Core.DTO/bin/Release/netstandard1.5/HRExpert.Core.DTO.deps.json
src/Core/HRExpert.Core.DTO/obj/Release/netstandard1.5/.SDKVersion
src/Core/HRExpert.Core.DTO/obj/Release/netstandard1.5/dotnet-compile.assemblyinfo.cs
src/Core/HRExpert.Core.Services.Abstractions/bin/Release/netstandard1.5/HRExpert.Core.Services.Abstractions.deps.json
src/Core/HRExpert.Core.Services.Abstractions/obj/Release/netstandard1.5/.SDKVersion
src/Core/HRExpert.Core.Services.Abstractions/obj/Release/netstandard1.5/dotnet-compile.assemblyinfo.cs
src/Core/HRExpert.Core.Services/bin/Release/netstandard1.5/HRExpert.Core.Services.deps.json
src/Core/HRExpert.Core.Services/obj/Release/netstandard1.5/.SDKVersion
src/Core/HRExpert.Core.Services/obj/Release/netstandard1.5/dotnet-compile.assemblyinfo.cs
src/Core/HRExpert.Core/bin/Release/netstandard1.5/HRExpert.Core.deps.json
src/Core/HRExpert.Core/bin/Release/netstandard1.5/HRExpert.Core.xml
src/Core/HRExpert.Core/obj/Release/netstandard1.5/.SDKVersion
src/Core/HRExpert.Core/obj/Release/netstandard1.5/dotnet-compile.assemblyinfo.cs
.vs/HRExpert/v14/.suo
src/HRExpert/bin/Debug/netcoreapp1.0/HRExpert.deps.json
src/HRExpert/bin/Debug/netcoreapp1.0/HRExpert.dll
src/HRExpert/bin/Debug/netcoreapp1.0/HRExpert.pdb
src/HRExpert/obj/Debug/netcoreapp1.0/HRExpertdotnet-compile.deps.json
src/HRExpert/obj/Release/netcoreapp1.0/.SDKVersion
src/HRExpert/obj/Release/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
.vs/HRExpert/v14/.suo
src/HRExpert/bin/Debug/netcoreapp1.0/HRExpert.deps.json
src/HRExpert/bin/Debug/netcoreapp1.0/HRExpert.dll
src/HRExpert/bin/Debug/netcoreapp1.0/HRExpert.pdb
src/HRExpert/obj/Debug/netcoreapp1.0/HRExpertdotnet-compile.deps.json
