artifacts/
HRExpert.Database/bin/
HRExpert.Database/obj/
*.lock.json
*.xproj.user
src/HRExpert/node_modules/
*.dbmdl
*.suo
*.suo
*.log
.IncrementalCache
dotnet-compile.rsp
dotnet-compile-csc.rsp
*dotnet-compile.deps.json
.IncrementalCache
dotnet-compile.rsp
dotnet-compile-csc.rsp
HRExpertdotnet-compile.deps.json
*/bin/Debug/netstandard1.5/*
