artifacts/
HRExpert.Database/bin/
HRExpert.Database/obj/
*.lock.json
*.xproj.user
src/HRExpert/node_modules/
*.dbmdl
*.suo
*.suo
*.log
.IncrementalCache
dotnet-compile.rsp
dotnet-compile-csc.rsp
*dotnet-compile.deps.json
.IncrementalCache
dotnet-compile.rsp
dotnet-compile-csc.rsp
HRExpertdotnet-compile.deps.json
*/bin/Debug/netstandard1.5/*
*/bin/Debug/netstandard1.5/*.*
*/obj/Debug/netcoreapp1.0/.IncrementalCache
src/HRExpert/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
src/HRExpert/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/HRExpert/obj/Debug/netcoreapp1.0/HRExpertdotnet-compile.deps.json
*.dll
*.pdb
src/HRExpert/obj/Debug/netcoreapp1.0/*.*
src/HRExpert/bin/Debug/netcoreapp1.0/*.*
src/HRExpert/bin/Debug/netcoreapp1.0/*.*
