<div class="container">
    <div class="jumbotron">
        <h1>WEBOR</h1>
        <p>
            Добро пожаловать.
        </p>
    </div>
    <p>На самом деле вам тут не рады.</p>
    <p>Совсем не рады.</p>
</div>