@model HRExpert.Organization.ViewModels.PersonSelectViewModel
    <select class="form-control" name="@Model.FieldName">
        @foreach (var element in Model.SelectOptions)
        {
           <option value="@element.Id">@element.Name</option>
        }
    </select>