@model Platformus.Navigation.Frontend.ViewModels.Shared.MenuViewModel
<div class="menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="~/img/logo.png" style="display:inline;float:left" />
                <a class="navbar-brand" href="~/"> WEBOR</a>
            </div>
            <ul class="nav navbar-nav">
                @foreach (var menuItem in this.Model.MenuItems)
                {
                    @Html.Partial("_MenuItem", menuItem)
                }
            </ul>
@if (Context.User.Identity.IsAuthenticated)
{
            <ul class="nav navbar-nav navbar-right">
                @await Component.InvokeAsync("CurrentPerson")
            </ul>
}
        </div>
    </nav>
</div>