<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - WEBOR</title>
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/Main.css" />
    <link rel="stylesheet" href="~/lib/handsontable/handsontable.css" />
    
    <link href="~/lib/jqueryui/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/jstree/themes/default/style.css" />
    <link rel="stylesheet" href="~/lib/pikaday/pikaday.css"/>
    <link rel="stylesheet" href="~/lib/qtip/jquery.qtip.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.css"/>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/numbro/numbro.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/jstree/jstree.js"></script>
    <script src="~/lib/pikaday/pikaday.js"></script>
    <script src="~/lib/zeroclipboard/ZeroClipboard.js"></script>
    <script src="~/lib/handsontable/handsontable.js"></script>    
    <script src="~/lib/qtip/jquery.qtip.min.js"></script>
    <script src="~/lib/tinymce/tinymce.js"></script>    
    <script src="~/js/bootstrap.js"></script>
    <script src="~/lib/fullcalendar/fullcalendar.js"></script>
    <script src="~/lib/fullcalendar/locale/ru.js"></script>
    <script src="~/js/Main.js"></script>
</head>
<body>
    <div class="header">
        @await Component.InvokeAsync("Menu", new { code = "Main" })
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">
        Based on Platformus 1.0.0-alpha10
    </div>   
</body>
</html>