body {
    height:100%;
}
table{
    background: #fff;
}
.navbar
{
    border-radius:0px !important;
}
.content
{
    padding:20px;
}

.TableContainer
{
    background-color:#F3EFFF;  
    overflow-x:scroll;
}
.ControlsContainer{   
    background-color:#EFF4FF;
}
.FilterContainer{
    background-color:#EDFFFF;
}
.FormContainer{
    background-color:#E9FFE9;
}
.ApproveContainer{
    background-color:#edf5fb;
}
.collapsed-body{
    display:none;
}
.collaps-button{
}
.collaps-button .active{
}