body {
    height:100%;
}
table{
    background: #fff;
}
.navbar
{
    border-radius:0px !important;
}
.content
{
    padding:20px;
}
.hiddenDiv{
    display:none;
}
.TableContainer
{
    background-color:#F3EFFF;  
    overflow-x:scroll;
}
.ControlsContainer{   
    background-color:#EFF4FF;
}
.FilterContainer{
    background-color:#EDFFFF;
}
.FormContainer{
    background-color:#E9FFE9;
}
.ApproveContainer{
    background-color:#edf5fb;
}
.collapsed-body{
    display:none;
}
.defaultDialog{
    width:800px;
    height:600px;
}
.defaultDialogContent{
    width:750px;
    height:500px;
}
.defaultDialogButtons{
    width: 750px;
    height:100px;
}